In [4]:
import pandas as pd

In [5]:
#pd.DataFrame({'名前':['佐藤','斎藤','鈴木'],'年齢':[21,30,18],'住所':['東京都','岐阜県','埼玉県'],'血液型':['A','AB','O']},index=['i-1','i-2','i-3'])

     名前  年齢   住所 血液型
i-1  佐藤  21  東京都   A
i-2  斎藤  30  岐阜県  AB
i-3  鈴木  18  埼玉県   O

In [8]:
#df=pd.read_csv('usdjpy.csv',index_col='年月日')

In [13]:
df=pd.read_csv('usdjpy.csv')

In [14]:
df

                       年月日       終値
0       2021/01/04 7:00:00  103.222
1       2021/01/04 8:00:00  103.248
2       2021/01/04 9:00:00  103.064
3      2021/01/04 10:00:00  103.058
4      2021/01/04 11:00:00  102.983
...                    ...      ...
12896  2023/01/26 18:00:00  129.959
12897  2023/01/26 19:00:00  129.680
12898  2023/01/26 20:00:00  129.824
12899  2023/01/26 21:00:00  129.756
12900  2023/01/26 22:00:00  129.877

[12901 rows x 2 columns]

In [15]:
df.loc[[0,1,2], :]

                  年月日       終値
0  2021/01/04 7:00:00  103.222
1  2021/01/04 8:00:00  103.248
2  2021/01/04 9:00:00  103.064

In [16]:
df.loc[:, ['終値']]

            終値
0      103.222
1      103.248
2      103.064
3      103.058
4      102.983
...        ...
12896  129.959
12897  129.680
12898  129.824
12899  129.756
12900  129.877

[12901 rows x 1 columns]