In [1]:
import pandas as pd

In [2]:
#pd.DataFrame({'名前':['佐藤','斎藤','鈴木'],'年齢':[21,30,18],'住所':['東京都','岐阜県','埼玉県'],'血液型':['A','AB','O']},index=['i-1','i-2','i-3'])

In [8]:
#df=pd.read_csv('usdjpy.csv',index_col='年月日')

In [3]:
df=pd.read_csv('usdjpy.csv')

In [4]:
df

                       年月日       終値
0       2021/01/04 7:00:00  103.222
1       2021/01/04 8:00:00  103.248
2       2021/01/04 9:00:00  103.064
3      2021/01/04 10:00:00  103.058
4      2021/01/04 11:00:00  102.983
...                    ...      ...
12896  2023/01/26 18:00:00  129.959
12897  2023/01/26 19:00:00  129.680
12898  2023/01/26 20:00:00  129.824
12899  2023/01/26 21:00:00  129.756
12900  2023/01/26 22:00:00  129.877

[12901 rows x 2 columns]

In [5]:
df.loc[[0,1,2], :]

                  年月日       終値
0  2021/01/04 7:00:00  103.222
1  2021/01/04 8:00:00  103.248
2  2021/01/04 9:00:00  103.064

In [6]:
df.loc[:, ['終値']]

            終値
0      103.222
1      103.248
2      103.064
3      103.058
4      102.983
...        ...
12896  129.959
12897  129.680
12898  129.824
12899  129.756
12900  129.877

[12901 rows x 1 columns]

In [7]:
# 抽出した範囲をデータフレームにする
df_new = df.loc[[0,1,2], :]
df_new

                  年月日       終値
0  2021/01/04 7:00:00  103.222
1  2021/01/04 8:00:00  103.248
2  2021/01/04 9:00:00  103.064

In [8]:
# index列,カラム列
df.iloc[[0,1],[0,1]]

                  年月日       終値
0  2021/01/04 7:00:00  103.222
1  2021/01/04 8:00:00  103.248

#df.std()　標準偏差
#df.var() 分散
#df.median()　中央値
#df.skew()　歪度
#df.kurt()　尖度